* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Rules */
header {
    height: 50px;
    background-color: #D2451E;
}

    .center {
        width: 80%;
        margin: 0 auto;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        /* DEBUG */
        /* border: 1px dashed black; */
    }

        .cust {
            width: 20%;
            min-height: 50%;
            /* border: 1px dashed black; */
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

            .item {
                text-decoration: none;
                color: white;
            }

            #logo {
                max-height: 20px;
            }

            .menu {
                width: 10%;
            }

           


/* Footer Rules */
footer {
    height: 80px;
    background-color: #1a1a1a;
}