* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Rules */
header {
    height: 50px;
    background-color: #D2451E;
}

    .center {
        width: 80%;
        margin: 0 auto;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        /* DEBUG */
        /* border: 1px dashed black; */
    }

        .cust {
            width: 20%;
            min-height: 50%;
            /* border: 1px dashed black; */
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

            .item {
                text-decoration: none;
                color: white;
            }

            #logo {
                max-height: 20px;
            }

            .menu {
                width: 10%;
            }

            .cust.legal {
                width: 80%;
                margin-top: 2%;
            }

            .cust.brands {
                width: 50%;
                margin-top: 2%;
            }

           
/* Main Rules */
.row{
    justify-content: center;
}

.row div {
    min-width: 200px;
    min-height: 300px;
    border: 1px dashed black;
    margin-left: 20px;
}

    .photo {
        max-width: 300px;
    }


/* Footer Rules */
footer {
    height: 80px;
    background-color: #1a1a1a;
    color: #fff;
}

    .bot {
        width: 40%;
    }

    .legal {
        font-size: 12px;
    }

    .left {
        width: 40%;
        padding-left: 32%;
    }